@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
  font-family: "Inter", sans-serif;

  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
    color: #fff;
  }
  
  .login-box {
    /* background-color: #1a1a1a; */
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  }
  
  .login-box h2 {
    margin-bottom: 20px;
    line-height: 40px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 2px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
  border: 0.5px solid #333333;
  font-size: 16px;
  font-weight: 500;
  }
  
  .google {
    background-color: transparent;
    color: #fff;
  border: 0.5px solid #333333;
font-size: 16px;
  }
  
  .email {
    padding: 15px 20px !important;
    border-radius: 2px;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-weight: 600;
  }
  
  .icon {
    margin-right: 8px;
  }
  
  .separator {
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: #666;
  }
  
  .separator span {
    margin: 0 10px;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    height: 1px;
    background: #666;
  }
  
  .email-input {
    width: 90%;
    padding: 16px 20px !important;
    margin-bottom: 20px;
    border: none;
    border-radius: 1px;
    background-color: #1D1D1D;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
  }
  
  .terms {
    font-size: 12px;
    color: #808080;
    margin-top: 20px;
  }
  
  .terms a {
    color: white;
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .login-container {
      height: 48vh;
    }
    .login-box {
      padding: 20px;
    }
  
    .login-button {
      padding: 15px 10px !important;
      font-size: 14px;
    }

    
  
    .email-input {
      padding: 8px;
    }
  }
  
  @media (max-width: 480px) {
    .login-box {
      padding: 15px;
    }
  
    .login-button {
      padding: 6px 8px;
      font-size: 12px;
    }
  
    .email-input {
      padding: 6px;
    }
  
    .terms {
      font-size: 10px;
    }
  }
  
  @media (min-width: 2560px) {
    .login-container {
      height: 60vh;
    }
    .login-box {
      padding: 20px;
    }
  
    .login-button {
      padding: 8px 10px;
      font-size: 18px;
    }
  
    .email-input {
      padding: 8px;
    }
  }