@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.hero {
  font-family: "Inter", sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 4rem 0;
  text-align: center;
  min-height: calc(82vh - var(--navbar-height));
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("Image.png");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.hero p {
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.btn {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: white;
  color: black;
}

.btn-secondary {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.btn:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {
  .hero {
  min-height: calc(60vh - var(--navbar-height));
  }
  .hero h1 {
    font-size: 40px;
    margin-bottom: 1rem;
    line-height: 1.2;
  }
  
  .hero p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
    line-height: 1.5;
  }
}

@media (max-width: 400px) {
  .hero h1 {
    font-size: 25px;
    margin-bottom: 1rem;
    line-height: 1.2;
  }
  
  .hero p {
    font-size: 0.7rem;
    margin-bottom: 2rem;
    line-height: 1.5;
  }
}

@media (min-width: 2560px) {
  .hero {
  min-height: calc(70vh - var(--navbar-height));
  }
  .hero-content {
    max-width: 1500px;
    margin: 0 auto;
  }
  .hero h1 {
    font-size: 7rem;
    margin-bottom: 1rem;
    line-height: 1.2;
  }
  
  .hero p {
    font-size: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
  }

  .btn {
    padding: 1rem 2.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
}
