.footer {
    background-color: #000000;
    color: #ffffff;
    padding: 2rem;
    font-family: Arial, sans-serif;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .footer-text {
    font-size: 16px;
    line-height: 28px;
    margin: 0;
    font-weight: 400;
  }
  
  .footer-buttons {
    display: flex;
    gap: 0.5rem;
  }
  
  .footer-button {
    background-color: transparent;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 0.9rem;
    border-radius: 30px;
  }
  
  .footer-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
  }
  
  .icon-button {
    border: 1px solid #ffffff;
    border-radius: 30px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cp-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-links {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 14.5px;
    font-weight: 400;
  }
  
  .footer-link {
    color: #888888;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-link:hover {
    color: #ffffff;
    text-decoration: underline;
  }
  
  .footer-copyright {
    color: #888888;
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 14.5px;
    font-weight: 400;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }
  
    .footer-buttons {
      flex-wrap: wrap;
    }
  
    .footer-links {
      flex-direction: column;
      gap: 0.5rem;
    }

    .icon-button {
      margin-left: 15px;
    }

    .cp-content {
      flex-direction: column;
align-items: flex-start;
    }
  }