/* Header Banner Styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  font-family: "Inter", sans-serif;
}

.custom-header-banner {
  height: 250px;
  width: 100%;
  position: relative;
  background-image: url('https://cdn.glitch.global/4a4fdfdb-83d7-4c92-afd1-8f02869db8e9/Frame%20135.png?v=1720370324291');
  background-size: cover;
  background-position: center;
}

.custom-header-banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 0 20px;
  z-index: 1;
}

.banner-text h1,
.banner-text p {
  text-align: left;
  margin: 0;
}

.banner-text h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.banner-text p {
  font-size: 18px;
  line-height: 1.5;
  color: #a4a4a4;
}

/* Grid Layout Styles */
.grid-container {
  display: grid;
  grid-template-columns: 200px minmax(0, 1fr); /* Allows right column to shrink */
  gap: 20px;
  padding: 20px;
  background-color: #121212;
}

.left-column {
  position: sticky;
  top: 20px;
  height: fit-content;
}

.right-column {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 76%; /* Reduces the maximum width of the right column */
}

/* Left Component Styles */
.left-component {
  background-color: #1e1e1e;
  border-radius: 8px;
  overflow: hidden;
}

.left-image {
  width: 100%;
  height: auto;
  display: block;
}

/* Slider Container Styles */
.custom-app-slider-container {
  border-radius: 8px;
  overflow: hidden;
}

.custom-app-slider-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
}

.custom-app-slider-header h2 {
  color: white;
  font-size: 1.2rem;
}

.custom-app-slider-header h2 span {
  color: #9D9D9D;
  font-size: 1rem;
}

.custom-view-all-btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-right: 30px;
}

.custom-view-all-btn svg {
  margin-left: 0.5rem;
}

/* Slider Styles */
.custom-app-slider-wrapper {
  position: relative;
  padding: 0 40px;
}

.custom-app-slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  gap: 1rem;
  padding: 1rem 0;
  scroll-padding: 0 40px;
}

.custom-app-slider::-webkit-scrollbar {
  display: none;
}

.custom-app-card {
  flex: 0 0 auto;
  width: calc(25% - 0.75rem);
  min-width: 150px;
  max-width: 250px;
  background-color: #2a2a2a;
  border-radius: 8px;
  overflow: hidden;
  scroll-snap-align: start;
  position: relative;
  padding-top: 38%;
}

.custom-app-image,
.custom-app-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Slider Arrow Styles */
.custom-slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.custom-slider-arrow:hover {
  background-color: rgba(50, 50, 50, 0.9);
}

.custom-slider-arrow.left {
  left: 0;
}

.custom-slider-arrow.right {
  right: 0;
}

.custom-slider-arrow svg {
  color: black;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .left-column {
    display: none;
  }

  .right-column {
    gap: 40px;
    max-width: 25%; /* Reduces the maximum width of the right column */
  }

  .custom-app-slider-container {
    padding: 0rem;
  }

  .custom-app-slider-header h2 {
    font-size: 0.8rem;
  }
  
  .custom-app-slider-header h2 span {
    font-size: 0.8rem;
  }
  
  .custom-view-all-btn {
    font-size: 0.8rem;
  }

  .custom-app-slider-wrapper {
    padding: 0 30px;
  }

  .custom-app-card {
    width: calc(40% - 0.5rem);
    padding-top: 90%; /* 3:2 Aspect Ratio */
  }

  .custom-app-image,
  .custom-app-video {
    height: 100%;
  }

  .custom-slider-arrow {
    width: 30px;
    height: 30px;
  }

  .custom-slider-arrow:hover {
    background-color: white;
  }
}

@media (min-width: 769px) and (max-width: 1500px) {
  .right-column {
    gap: 40px;
    max-width: 100%; /* Reduces the maximum width of the right column */
  }

  .custom-app-slider-container {
    padding: 1rem;
  }

  .custom-app-slider-header h2 {
    font-size: 0.8rem;
  }
  
  .custom-app-slider-header h2 span {
    font-size: 0.8rem;
  }
  
  .custom-view-all-btn {
    font-size: 0.8rem;
  }

  .custom-app-slider-wrapper {
    padding: 0 30px;
  }

  .custom-app-card {
    width: calc(40% - 0.5rem);
    padding-top: 50%; /* 3:2 Aspect Ratio */
  }

  .custom-app-image,
  .custom-app-video {
    height: 100%;
  }

  .custom-slider-arrow {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 1501px) {
  .grid-container {
    grid-template-columns: 250px 1fr;
  }

  .custom-app-slider-container {
    padding: 0rem 2rem;
  }

  .custom-app-card {
    width: calc(21% - 0.75rem);
    
  }

  .custom-app-image,
  .custom-app-video {
    height: 100%;
  }

  .custom-slider-arrow {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 2560px) {
  .grid-container {
    grid-template-columns: 350px 1fr;
  }

  .right-column {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 100%; /* Reduces the maximum width of the right column */
  }

  .custom-app-slider-container {
    padding: 0rem 2rem;
  }

  .custom-app-card {
    width: calc(60% - 0.75rem);
    padding-top: 25%; /* 3:2 Aspect Ratio */

  }

  .custom-app-image,
  .custom-app-video {
    height: 100%;
  }

  .custom-slider-arrow {
    width: 50px;
    height: 50px;
  }
}
